:root {
    --white-color: #ffffff;
    --light-color: #F4F4FD;
    --primary-brand-color: #4D5AE5;
    --navy-blue-color: #2E2F42;
    --slate-color: #434455;
    --ocean-color: #404bbf;
}

/* -----MAIN------------------------------------------------------------------------------------------------------------- */
body {
    font-family: "Roboto", sans-serif;
    color: var(--slate-color);
    background-color: var(--white-color);
    letter-spacing: 0.02em;
    min-width: 1158px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* -----HEADRE------------------------------------------------------------------------------------------------------------------ */

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-flex {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
}

.logo {
    margin-right: 76px;
    width: 115px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand-color);        
}

.logo.studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue-color);
}

.header-navigation-list {
    display: flex;
}

.header-navigation-item {
    margin-right: 40px;
}

.header-navigation-item:last-child {
    margin-right: 0;
}

.header-navigation-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--navy-blue-color);
}

.header-navigation-link:hover,
.header-navigation-link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--ocean-color);   
}

.address {
    margin-left: auto;

    font-style: normal;
}

.address-list {
    display: flex;
}

.address-item {
    margin-right: 40px;
}

.address-item:last-child {
    margin-right: 0;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: var(--slate-color);
}

.address-link:hover,
.address-link:focus {
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    color: var(--ocean-color);
}

/* -----HERO----------------------------------------------------------------------------------------------------------------------------------- */

.hero {
    background-color: var(--navy-blue-color);
    text-align: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: var(--white-color);
}

.hero-btn {
    border-radius: 4px;
    border: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--primary-brand-color);
}

.hero-btn:hover,
.hero-btn:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--ocean-color);
    cursor: pointer;
}

.hero-btn {
    min-width: 170px;
    padding: 16px 32px;
}

/* -----PRESENTATION------------------------------------------------------------------------------------------------------------------------------- */

.presentation {
}

.feature-title {
    margin-bottom: 8px;
}

.hero-list {
    display: flex;

    margin-bottom: 120px;
}

.hero-item {
    margin-right: 24px;
    width: 264px;
}

.hero-item:nth-child(4n) {
    margin-right: 0;
}

.hero-item-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;   
    color: var(--navy-blue-color);
}

.hero-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate-color);
}

.presentation-title {
    margin-bottom: 72px;    

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.presentation-list {
    display: flex;
}

.presentation-item {
    margin-right: 24px;
}

.presentation-list:nth-child(3n) {
    margin-right: 0;
}

.presentation-img {

}

/* ----- our team ------------------------------------------------------------------------------------------------------------------------------ */

.team {
    background-color: var(--light-color);
}

.team-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.team-list {
    display: flex;
}

.team-item {
    background-color: var(--white-color);
    margin-right: 24px;
    height: 380px;
}

.team-item:nth-child(4n) {
    margin-right: 0;
}

.team-name {
    margin-top: 32px;
    text-align: center;
}

.team-item-img {

}

.team-item-title {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--navy-blue-color);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;  
    color: var(--slate-color);
}

/* ----- portfolio -------------------------------------------------------------------------------------------------------------------------------*/

.main-portfolio {

}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}

.filters-item {
    margin-right: 24px;
}

.filters-item:last-child {
    margin-right: 0;
}

.filters-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    border: 0px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em; 
    color: var(--primary-brand-color);
    background-color: var(--light-color);  
}

.filters-btn:hover,
.filters-btn:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;   
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--ocean-color);
    cursor: pointer;
}
 
/* ----- project------------------------------------------------------------------------------------------------------------------------------- */

.project {
    display: flex;
    flex-wrap: wrap;
    margin: -24px -12px;
}

.project-item {
    margin: 24px 12px;

    height: 420px;
}

.project-name {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.project-link {

}

.project-img {

}

.project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;   
    color: var(--navy-blue-color);  
}

.project-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate-color);
}

/* -----footer------------------------------------------------------------------------------------------------------------------------------------------ */

.footer {
    background-color: var(--navy-blue-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;   
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: var(--primary-brand-color);  
}

.footer-logo.studio {

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;   
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
    color: var(--light-color);    
}

.footer-text {
    margin-top: 16px;
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--light-color);
}